.the-box{
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.got-names{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 20%;
    height: 100%;
    overflow-y: auto;
}

.got-stats{
    border: 2px solid blue;
    width: 75%;
    height: 100%;
    word-wrap: break-word;
}